@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

@font-face {
  font-family: "Digivolve";
  src: url("../public/fonts/pixel-digivolve.ttf");
}

html {
  color-scheme: dark;
  background: radial-gradient(circle at center,  #0F6E88, #181881)
}